[Unit]
Description={{ service_description }}
After=network.target

[Service]
Type=simple
User=root
ExecStart={{ tools_path }}/venv/bin/python3 {{ tools_path }}/monitor.py
WorkingDirectory= {{ tools_path }}
RuntimeMaxSec=86400s
Restart=always

[Install]
WantedBy=multi-user.target